@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 2rem;
  }

  header .search-form {
    width: 40%;
  }
  #home .content {
    margin: 25rem auto 0;
  }
  #home .content h3 {
    font-size: 3rem;
  }
  #home .content p {
    font-size: 1.6rem;
  }

  .products .box-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .products .box {
    padding: 15px;
  }

  .products .box .image img {
    width: 100%;
  }

  .products .box .content h3 {
    font-size: 18px;
  }

  .products .box .content p {
    font-size: 12px;
  }

  .products .box .price {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  header .search-form {
    width: 50%;
  }

  header .logo {
    font-size: 16px;
  }

  #home .content {
    margin: 25rem auto 0;
  }
  #home .content h3 {
    font-size: 2rem;
  }
  #home .content p {
    font-size: 1.4rem;
  }

  .nav-bar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    color: #111;
    padding: 0.5rem;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }
  .nav-bar.active {
    right: 0%;
  }
  .nav-bar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .products .box-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .products .box {
    padding: 12px;
  }

  .products .box .image img {
    width: 100%;
  }

  .products .box .content h3 {
    font-size: 18px;
  }

  .products .box .content p {
    font-size: 12px;
  }

  .products .box .price {
    font-size: 16px;
  }
  .review .box-container .box h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 450px) {
  header {
    padding: 0.8rem 1.3%;
  }
  header .logo {
    font-size: 14px;
  }

  header .search-form {
    width: 50%;
  }

  header .search-form input {
    font-size: 1.2rem;
  }

  header .search-form label {
    font-size: 1.8rem;
  }

  header .logo {
    font-size: 12px;
  }

  #home .content {
    margin: 25rem auto 0;
  }
  #home .content h3 {
    font-size: 1.8rem;
  }
  #home .content p {
    font-size: 1.4rem;
  }
  .form-btn {
    font-size: 1rem;
  }

  #cart-btn {
    font-size: 1.2rem;
  }
  .icons {
    padding-right: 0.8rem;
  }

  .products .box-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .review .box-container {
    flex-direction: column;
    padding: 2rem;
    gap: 1.2rem;
    flex-wrap: wrap;
  }

  .review .box-container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .review .box-container .box .image img {
    border-radius: 5px;
  }

  .review .box-container .box h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .products .box-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .products .box .image img {
    width: 100%;
  }

  .products .box .content h3 {
    font-size: 20px;
  }

  .products .box .content p {
    font-size: 14px;
  }

  .products .box .price {
    font-size: 18px;
  }
}
